<form action='/restaurants/<%= @restaurant.id%>/menus' method=POST>

<table>
<header class= "navbar navbar-fixed-top navbar-inverse">
<div class="container">

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="submit">

  <tbody>
  <tr>
  	<td><%= link_to 'Back' , restaurants_path%></td>
  </tr>

  </div>
  </header>	
  </tbody>
</form>
